//Layout

.footer {
  padding: 0 0 25px;
  margin: 240px 0 50px;
  ul {
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    list-style-type: none;
    li {
      height: 35px;
      a {
        display: block;
        height: 100%;
        img {
          display: block;
          height: 100%;
        }
      }
    }
  }
}

@include min-screen($breakpoint-sm) {
  .footer {
    padding: 10 0 10px;
    text-align: center;
  }
}
