// Base
//
// 各要素のデフォルトのスタイルです。
//
// Styleguide base

//Base
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
  font-family: 'Source Code Pro','Noto Sans JP', sans-serif;
}

html {
  width: 100%;
  min-height: 100%;
}

body {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $color-base-black;
  color: $color-base-black;
  font-size: 16px;
  font-feature-settings: "palt";
  @include min-screen($breakpoint-lg){

  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

section{
  width: 100%;
  text-align: center;
  a{
    padding-bottom: 0.3vw;
    border-bottom: 0.1vw solid $color-base-white;
  }
}

p,h4 {
  color: $color-base-white;
}

a {
  text-decoration: none;
  &:hover {
    opacity: .7;
  }
  &:link,&:visited,&:hover,&:active {
    color: $color-base-white;
  }
}

ul,li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
