// Base
//
// 各要素のデフォルトのスタイルです。
//
// Styleguide base

//Base
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
  font-family: 'Nunito','Noto Sans JP', "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

html {
  width: 100%;
  min-height: 100%;
}

body {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $color-base-white;
  color: $color-base-black;
  font-size: 16px;
  @include min-screen($breakpoint-lg){

  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

p,a {
  color: $color-base-black;
  font-size: $fts-sm;
  line-height: 2em;
}

a {
  text-decoration: none;
  color: $key-blue;
  &:hover {
    opacity: .7;
  }
}

ul,li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}