//Layout
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 100;
  transition: 0.6s;
  transform-style: preserve-3d;
  transform-origin: top;
  transform: rotateX(-90deg);
  background-color: rgba(81,97,242,0.8);
  &.is-active {
    transform: rotateX(0);
  }
  ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      width: calc(100% / 3);
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        font-size: $fts-sm;
        color: $color-base-white;
      }
    }
  }
  @include max-screen($breakpoint-sm) {
    height: 50px;
    ul {
      li {
        a {
          font-size: $fts-es;
        }
      }
    }
  }
}

#gmap {
  position: relative;
  width: 100%;
  height: 400px;
  margin: 100px 0 50px;
}

.main {
  #hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  #p5canvas {
    position: fixed;
    width: 100%;
    z-index: -1;
  }
}

.container {
  display: block;
  width: 100%;
  margin: 200px auto 0;
  max-width: 960px;
  padding: 0 2%;
}
.entrybutton {
  margin: 10px auto 80px;
  padding: 10px;
  text-align: center;
  a {
    display: box;
    padding: 10px;
    border: 1px solid;
  }
}
.hdg {
  &__lv2 {
    font-size: 50px;
    //font-style: italic;
    font-weight: bold;
    color: $sub-blue;
    text-align: center;
    margin: 240px 0 160px;
  }
  &__lv3 {
    width: 100%;
    margin: 160px 0 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    //font-style: italic;
    font-weight: bold;
    background-color: $key-blue;
    color: $color-base-white;
    font-size: 36px;
    line-height: 1.5;
    @include max-screen($breakpoint-sm) {
      font-size: 32px;
    }
  }
  &__lv4 {
    font-size: 40px;
    font-weight: bold;
    color: $key-blue;
    margin: 20px 0 0;
  }
}

.hero {
  #borderCanvas {
    width: 100%;
    height: 100vh;
    top: 0;
    .border {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      top: 50%;
      border: solid 40px $key-blue;
      @include max-screen($breakpoint-sm) {
        border: solid 24px $key-blue;
      }
    }
  }
  &__title {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    > img {
      width: 100%;
      max-width: 590px;
      margin: 0 auto;
      @include max-screen($breakpoint-sm) {
        max-width: 275px;
      }
    }
    @include max-screen($breakpoint-sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

.about {
  //padding: 10px 30px;
  .container {
    padding: 10px 30px 60px;
    background-color: rgba(255, 255, 255, 0.7);
  }
  &__title {
    font-size: $fts-lg;
    color: $key-blue;
    font-weight: bold;
  }
  h4 {
    margin: 60px 0 20px;
    line-height: 1.7em;
  }
  p {
    line-height: 2em;
  }
  tbody {
    tr {
      display: block;
      margin: 10px 40px;
      @include max-screen($breakpoint-sm) {
        margin: 10px 20px;
      }
      th {
        width: 60px;
      }
    }
  }
}

.timetable {
  &__lt {
    padding: 5px;
    background-color: #fff;
    ul {
      li {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: 1px solid $color-gray01;
        margin: 0 34px;
        &:last-child {
          border: none;
        }
        .infomation {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          .time {
            font-size: $fts-sm;
            color: $key-blue;
            padding: 0 15px 0 10px;
          }
          .title {
            font-weight: bold;
            font-size: $fts-sm;
          }
          .speaker {
            font-size: $fts-sm;
            line-height: 1.4em;
            color: $color-gray01;
          }
        }
        .label {
          min-width: 120px;
          margin: 0 0 0 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          p {
            padding: 0 22px;
            background-color: $key-blue;
            color: $color-base-white;
            font-size: $fts-sm;
            display: flex;
            align-items: center;
            text-align: center;
          }
          a {
            i {
              font-size: 15px;
              margin: 0 0 0 3px;
              transform: translateY(-1px);
            }
          }
        }
      }
    }
  }
  &__keynote {
    ul {
      li {
        background-color: $color-base-white;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 20px;
        border-bottom: 1px solid $color-gray01;
        &:last-child {
          border: none;
        }
        .infomation {
          width: 100%;
          h4 {
            font-size: $fts-lm;
            font-weight: bold;
            line-height: 1.4em;
            color: $sub-blue;
            span {
              padding: 0 10px 0 0;
              color: $key-blue;
              font-size: $fts-md;
              font-weight: normal;
            }
          }
          p {
            margin: 10px 0 0;
            line-height: 1.6;
          }
        }
        .speaker {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          margin: 20px 0 0;
          img {
            width: 200px;
          }
          > div {
            padding: 20px;
            h5 {
              color: $sub-blue;
              font-size: $fts-md;
              font-weight: bold;
              line-height: 1.6em;
              margin: 0 0 8px;
            }
            p {
              margin: 0;
              line-height: 1.6;
            }
          }
          @include max-screen($breakpoint-sm) {
            flex-direction: column;
            margin: 30px 30px 0;
            img {
              width: 100%;
            }
            > div {
              padding: 10px 0 30px;
            }
          }
        }
      }
    }
  }
  &__workshop {
    color: $key-blue;
    background: rgba(255, 255, 255, 0.7);
    ul {
      li {
        .ws {
          position: relative;
          width: 100%;
          padding: 75px 20px 15px;
          &__time {
            color: $key-blue;
            line-height: 1em;
            margin: 0;
            padding: 0;
          }
          &__title {
            font-size: $fts-lm;
            line-height: 1em;
            font-weight: bold;
            margin: 10px 0;
            padding: 0;
          }
          &__description {
            margin: 0;
            padding: 0;
          }
        }

        .content {
          //position: relative;
          z-index: 1;
          background-color: $sub-blue;
          margin: 0 0 0 45px;
          @include max-screen($breakpoint-sm) {
            margin: 0 20px;
          }
          p {
            margin: 0;
            &.lead {
              font-size: $fts-ss;
              color: $color-base-white;
              line-height: 1.6;
            }
          }
          .inner {
            padding: 10px;
          }
          .lecturer {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            background: $color-base-white;
            @include max-screen($breakpoint-sm) {
              flex-direction: column;
            }
            img {
              width: 178px;
              @include max-screen($breakpoint-sm) {
                width: 100%;
              }
            }
            > div {
              padding: 0 20px 0;
              h4 {
                font-size: $fts-lm;
                color: $color-base-black;
                margin: 16px 0 8px;
                line-height: 1.6;
              }
              p {
                font-size: $fts-ss;
                color: $color-base-black;
                line-height: 1.6;
                padding: 0 0 20px;
              }
            }
          }
        }
      }
    }
  }
}

#ticket {
  margin: 50px 0 0;
  .ticket__info {
      background-color: rgba(255, 255, 255, 0.8);
      padding: 100px 0;
      p {
        font-size: 1.3em;
        text-align: center;
      }
      .pticket {
        position: relative;
        margin: 30px auto;
        width: 250px;
        height: 110px;
        background: #56ab48;
        color: $color-base-white;
        font-size: $fts-md;
        font-weight: bold;
        border-radius: 10px;
        padding: 10px;
        border: 3px solid $color-base-white;
        overflow: hidden;
        opacity: 0.5;
        &:after {
          content: '';
          position: absolute;
          top: 50%;
          left: -8px;
          transform: translateY(-50%);
          width: 15px;
          height: 15px;
          background-color: $color-base-white;
          border-radius: 50%;
        }
        .inner {
          width: 100%;
          height: 100%;
          border-radius: 10px;
          border: 3px dashed $color-base-white;
          display: flex;
          justify-content: center;
          align-items: center;
          i {
            margin: 0 6px 0 0;
          }
        }
      }
  }

}
