// Variables
//
// 各値を定義
//
// Styleguide variables

$color-base-black: #000;
$color-base-white: #fff;
$color-gray01: #b3b3b3;

$key-blue: #5161f2;
$sub-blue: #0d1a63;
$key-red: #f79499;
$key-gray: #d8d8d8;

$fts-lg: 32px;
$fts-lm: 28px;
$fts-md: 24px;
$fts-sm: 18;
$fts-ss: 14px;
$fts-es: 12px;

$sp-size: 1.5;

$breakpoint-xl: 1600px;
$breakpoint-lg: 1280px;
$breakpoint-md: 1024px;
$breakpoint-sm: 769px;
$breakpoint-xs: 480px;
